{% extends "layout.html" %}

{% set active_page = "data" %}

{% block title %}data{% endblock %}

{% block content %}
    <!--page content-->
    <h1>Data by artist</h1>
	
	<form action="/showData">
          <select name="artist"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ artist_options }}
          </select>
          <br><br>
          <input type="submit" value="Select Artist">
        </form>
        <div id="ArtistData">
            <p>{{ ArtistData }}</p>
        </div>
		
		
{% endblock %}