{% extends "layout.html" %}

{% set active_page = "popularity" %}

{% block title %}popularity{% endblock %}

{% block content %}
	<h1>Most popular artist by genre</h1>
	
   <form action="/showData">
          <select name="genre"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ genre_options }}
          </select>
          <br><br>
          <input type="submit" value="Select Genre">
        </form>
        <div id="ArtistData">
            <p>{{ ArtistData }}</p>
        </div>

{% endblock %}
    



